version: '2'
services:

  proxy:
   image: nginx:alpine
   ports:
     - "80:80"
     - "443:443"
   restart: "unless-stopped"
   volumes:
     #- /var/run/docker.sock:/tmp/docker.sock:ro
     - /home/centos/config/default.conf:/etc/nginx/conf.d/default.conf
     - /home/centos/ssl/cert.key:/etc/nginx/cert.key
     - /home/centos/ssl/cert.pem:/etc/nginx/cert.pem

  db:
    image: "mrlesmithjr/mysql:alpine"
    volumes:
      - db:/var/lib/mysql
    restart: "always"
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
      MYSQL_DATABASE: {{ MYSQL_DATABASE }}
      MYSQL_USER: {{ MYSQL_USER }}
      MYSQL_PASSWORD: {{ MYSQL_PASSWORD }}

  web:
    depends_on:
      - db
      - proxy
    image: "mrlesmithjr/phpipam"
    links:
      - "db"

    restart: "always"
    environment:
      APACHE2_ENABLE_PHP: "true"
      PHPIPAM_DB_HOST: {{ PHPIPAM_DB_HOST }}
      PHPIPAM_DB_NAME: {{ PHPIPAM_DB_NAME }}
      PHPIPAM_DB_PASS: {{ PHPIPAM_DB_PASS }}
      PHPIPAM_DB_USER: {{ PHPIPAM_DB_USER }}



volumes:
  db:


