version: '2'

services:
  mysql:
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
    restart: always
    volumes:
      - db_data:/var/lib/mysql
  ipam:
    depends_on:
      - mysql
    restart: always
    image: pierrecdn/phpipam
    environment:
      - MYSQL_ENV_MYSQL_USER={{ MYSQL_ENV_MYSQL_USER }}
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_ENV_MYSQL_ROOT_PASSWORD={{ MYSQL_ENV_MYSQL_ROOT_PASSWORD }}
      - MYSQL_ENV_MYSQL_HOST={{ MYSQL_ENV_MYSQL_HOST }}
    ports:
      - "80:80"
volumes:
  db_data:

#docker-compose up -d
